<!DOCTYPE html>
<html>
  <head>
    <title>Cuba: <%= title %></title>
    <link href="/stylesheets/application.css" media="screen" rel="stylesheet">/</link>
  </head>
  <body>
    <%= content %>
  </body>
</html>
